body {
  background-color: powderblue;
}
h1 {
  color: Red;
  font-style: oblique;
  font-size: 50px;
  text-align: center;
}

h2 {
  color: hotpink;
  font-style: oblique;
  font-size: 45px;
  text-align: center;
}

#styleMe {
  color: skyblue;
}

h3 {
  color: Brown;
  font-size: 30px;
  text-align: center;
  font-family: fantasy;
}

img {
  width: 20%;
  float:right;
  border-radius: 30%;
}

.About-Me {
  width: 700px;
  border: 5px solid yellow;

  padding: 20px;
  margin: 10px;
  font-family: fantasy;
}

p{
  font-size: 40px;
  font-style: italic;
  color: brown;
}

ul {
  font-size: 25px;
  color: lightblue;
}

/* unvisited link */
a:link {
  color: hotpink;
}

/* visited link */
a:visited {
  color: green;
}
.jumbotron{
  background-color: MediumSeaGreen;
  text-align: justify;
  color: grey;
}
ol {
  background: #ff9999;
  padding: 20px;
}
ol li {
  background: #ffe5e5;
  padding: 5px;
  margin-left: 35px;
}
.well
{
  font-size: 20px;
}
